<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">The dev by</a>
      <a href="#D.coder">Bivil</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to  "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>

</div>